[submodule "external/ChampSim"]
	path = external/ChampSim
	url = git@github.com:Angelawoo572/ChampSim.git
	ignore = untracked
[submodule "external/ChampSim-ML"]
	path = external/ChampSim-ML
	url = git@github.com:Quangmire/ChampSim.git
	ignore = untracked
